@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:ital@1&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Maven', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;

    list-style-type: none;
    height: 89px;
    background-color: black;
    color: forestgreen;
}
nav ul li{
    padding:0 12px;
}
.brand img{
    width: 50px;
    padding:0 8px;
}
.brand{
    display: flex;
    align-items:center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 60vh;
    background-color: black;
    color: white;
    font-family: 'krub', sans-serif;
    display: flex;
    margin:23px auto;
    width:70%;
    border-radius: 12px;
    padding:34px;
    background-image: url('ec8fd5138aa7b69e16a451ba8349f2ec.jpg');
}
.songItemContainer{
    margin-top: 74px;
}
.songItem {
    height: 50px;
    display: flex;
    background-color:rgba(153,255,245,0.5);
    width: 80%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin:23px 0;
    border-radius: 5px;
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    flex-direction: column;
   
    
}
.songInfo{
    position: absolute;
    left:10vw;
    margin-top: 10px;
    align-items: center;
    display: flex;
    font-family: 'Maven', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition:opacity 1s ease-in;
}
.icons{
    margin-top: 14px;

}

.icons span{
    cursor : pointer;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}
.timesTamp{
    margin:0 25px;
    cursor: pointer;
}